body {
    font: 14px roboto slab, Arial, sans-serif;
}

.man,
.woman,
.rico,
.marriageNode {
    cursor: pointer;
}

.linage {
    fill: none;
    stroke: rgb(240, 30, 22);
    stroke-width: 2px;
}

.marriage {
    fill: none;
    stroke: rgb(255, 83, 83);
    stroke-width: 2px;
}

.marriageNode {
    background-color: #94a3b8;
    border-radius: 50%;
    border: none;
}


.man {
    background-color: #d5ecfd;
    height: 60px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    box-sizing: border-box;
}


.woman {
    background-color: #fce4ec;
    height: 60px;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    box-sizing: border-box;
}

.rico {
    background-color: #f1f8e9;
    height: 60px;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    box-sizing: border-box;
}

.emphasis {
    font-weight: bold;
    background-color: rgb(209, 113, 23);
}

p {
    padding: 5px;
    margin: 0;
    text-align: center;
    font-size: 13px;
    line-height: 1.2;
}

svg {
    background-color: #f7f6ca;
    background-image: radial-gradient(circle at center,
            #949e80 1px,
            transparent 2px);
    background-size: 20px 20px;
}

/* CSS ADICIONAL PARA O MODAL */
#person-modal {
    display: none;
    /* Oculto por padrão */
    position: fixed;
    z-index: 9999;
    /* Garante que fique acima de tudo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    /* Fundo semi-transparente */
}

#modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    /* 5% do topo e centralizado */
    padding: 30px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    /* Largura máxima controlada */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#close-modal {
    color: #aaa;
    float: right;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}

#close-modal:hover,
#close-modal:focus {
    color: #000;
    text-decoration: none;
}

#person-photo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ADD8E6;
}